html {
  overflow-y: auto;
  overscroll-behavior-y: none;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  padding-bottom: 80px;
}

main {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  min-height: calc(
    100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom)
  );
  align-content: flex-start;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin: 0;
  padding: 0;
}

body > div#root {
  display: grid;
}

@media (min-width: 959.95px) {
  body > div#root {
    grid-template-columns: 20rem 1fr;
  }
}
