html {
  overscroll-behavior-y: none;
  overflow-y: auto;
}

body {
  padding-bottom: 80px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
}

body > div#root {
  display: grid;
}

@media (min-width: 959.95px) {
  body > div#root {
    grid-template-columns: 320px 1fr;
  }
}
